@{
    Layout = "_Layout";
    ViewData["Title"] = "Transaction";
}
@using LibraryManagementCore.DTOs;
@model List<TransactionResponseDTO>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<h1 class="text-center text-primary">Transaction</h1>
<a asp-controller="Transaction" asp-action="AddTransactions" class="btn btn-primary text-center mt-1">Add</a>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Book</th>
            <th>Member</th>
            <th>BorrowDate</th>
            <th>ReturnDate</th>
            <th>FineAmount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookId</td>
                <td>@item.MemberId</td>
                <td>@item.BorrowDate</td>
                <td>@item.ReturnDate</td>
                <td>@item.FineAmount</td>
            </tr>
        }
    </tbody>
</table>
