@{
    ViewData["Title"] = "Add New Member";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using LibraryManagementCore.DTOs
@model MemberResponseDTO
@{
    TempData.Keep("SuccessMessage");
    TempData.Keep("ErrorMessage");
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<form asp-action="AddNewMembers" asp-controller="Member" method="post">
    <label asp-for="Name" class="form-control">Name</label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
    <br />
    <label asp-for="Email" class="form-control">Email</label>
    <input asp-for="@Model.Email" class="form-control" />
    <span asp-validation-for="@Model.Email" class="text-danger"></span>
    <br />
    <label asp-for="MembershipDate" class="form-control">MembershipDate</label>
    <input asp-for="@Model.MembershipDate" class="form-control" type="date" />
    <span asp-validation-for="@Model.MembershipDate" class="text-danger"></span>
    <br />
    <label asp-for="MembershipType" class="form-control">MembershipType</label>
    <input asp-for="@Model.MembershipType" class="form-control" />
    <span asp-validation-for="@Model.MembershipType" class="text-danger"></span>
    <br />
    <button class="btn btn-Primary" type="submit">Create</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
